.container {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 20px 24px;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 100px;
}

.headerText {
  display: flex;
  flex-direction: column;
  font-size: 30px;
  font-weight: 500;
}

.MuiCircularProgress-root {
  top: calc(100vh - 50%);
  left: calc(100vw - 50%);
  position: absolute;
}