.table-container {
  display: flex;
  flex-direction: column;

  width: 100%;
  background: #ffffff;
  border: 1px solid #e8e8e8;
  border-radius: 8px;
  height: calc(100vh - 140px);
  overflow-y: scroll;
}

.pagination {
  width: calc(100% - 70px);
  height: 45px;
  padding: 5px 0;
  position: absolute;
  bottom: 20px;
  right: 42px;
  z-index: 4;
  background: #ffff;

  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.pagination button {
  width: 32px;
  height: 32px;

  border: 1px solid #e8e8e8;
  box-sizing: border-box;
  border-radius: 4px;
  margin-right: 10px;
  transition: filter 0.2s;
}

.pagination button:hover {
  filter: brightness(90%);
}

table {
  margin-bottom: 50px;
}
